{% extends 'base.html.twig' %}

{% block title %}Ingredients{% endblock %}

{% block body %}
    

    <main class="container-fluid pt-5">

        <div class="row">
            {% for ingredient in ingredients %}
                <div class="card mb-3" style="max-width: 440px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ asset('uploads/images/ingredient/' ~ ingredient.image) }}" class="card-img-top pt-4" alt="photo principale de {{ ingredient.name }}">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ ingredient.name }}</h5>
                                <p class="card-text">{{ ingredient.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}