{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <main class="container-fluid pt-5">

        <div class="row">
            {% for category in categories %}
                
                <div class="card mb-3" style="max-width: 640px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ asset('uploads/images/category/' ~ category.image) }}" class="card-img-top w-85" alt="photo principale de {{ category.name }}">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ category.name }}</h5>
                                <a href="{{ path('product_index') }}" button type="button" class="btn btn-primary btn-sm text-white">voir produit</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </main>

{% endblock %}

