/* ******************** body******************** */
body {
  position: relative;
  
}

main {
  min-height: 120px;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
 font-size: 0.95rem;
 
}

/***************************Navbar**************************/
.navbar-item-custom, .navbar-item-custom a {
  color : gray;
}

/***********************heading(photo ronde)****************************************************************/
.col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.h3 {
  font-weight: 400;
  font-family: 'Crimson Pro', serif;
  text-align: center;
}
.col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
/* *******************************Product********************************* */
.product-item h5 {
  font-size: 15px;
}
/* ******************** FOOTER ****************************************** */
.footer-custom {
 
  width: 100%;
  background-color:LightGrey;

  position: absolute;
 
}








