/* ******************** body******************** */
body {
  position: relative;
  
}
.navbar-item-custom, .navbar-item-custom a {
  color : white;
}

main {
  min-height: 120px;
}


/***********************heading(photo ronde)****************************************************************/
.col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.h3 {
  font-weight: 400;
  font-family: 'Crimson Pro', serif;
  text-align: center;
}
.col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

/* ******************** FOOTER ******************** */
  
footer {
  position: fixed;
  bottom: 0;
  padding: 0.5em;
  font-size: 0.5em;
}

a {
  color: black !important;
}








